<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="layoutPattern">
        	%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red,INFO=green, DEBUG=blue}  [%C] %style{[%t]}{yellow}- %m%n -
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender"/>
        </Root>
        <Logger name="com.company.controller" level="DEBUG" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
        <Logger name="org.springframework.core" level="DEBUG" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
        <Logger name="org.springframework.beans" level="DEBUG" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
        <Logger name="org.springframework.context" level="DEBUG" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
        <Logger name="org.springframework.web" level="DEBUG" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
        <Logger name="org.springframework.jdbc" level="DEBUG" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
    </Loggers>
</Configuration>